<div>
  <h3>Post#<%= post.id %></h3> 
  <br>
  <h4>Post Title: <%= post.title%></h4>
   <br>

   <div class="post-body-text">
      <p>
        <%= link_to post.text, user_post_path(post.author, post) %>
      </p>
   </div>
  <div class="post-activity comments">
    Comments: <%= post.comment_counter %>,
    Likes:<%= post.likes_counter %>
  </div>
</div>

