<div class="post-body post-list">
  <h3>Post#<%= post.id %></h3> 
  <br>
  <h4>Post Title: <%= post.title%></h4>
   <br>
   <p><%= post.text %></p>
  <div class="post-activity comments">
    Comments: <%= post.comment_counter %>,
    Likes:<%= post.likes_counter %>
  </div>
</div>

