<div class="user-main">
  <div class="photo">
  <% if user.photo %>
    <img src="<%= user.photo %>" alt="Alt text for the image">
  <% else %> 
    <%= user.photo %>
  <% end %>
  </div>
  <div class="name">
    <h3>
      Username: <%= user.name %>
    </h3>
    <p> Number of posts: <%= user.posts.count %>

    <p class="user-activity">
      <%= link_to user.name, user_path(id: user.id) %>
    </p>
  </div>
</div>