<%= stylesheet_link_tag ('home') %>

<section class="post-section">
  <div>
  <div class="user-main">
    <div class="photo">
      photo
    </div>
    <div class="name">
      <ul>
        <li>
          Username: <%= @user.name %>
        </li>
      </ul>
        <p class="user-activity">
          <%= @user.post_counter? ? "Number of posts: #{@user.post_counter}" : "No posts yet" %>
          <%= link_to "view post", user_path(id: @user.id) %>
        </p>
    </div>
  </div>

  <div class="post-list">
    <% @posts.each_with_index do |post, index| %>
    <div class="posts-body">
      <h2>Post #<%= index%></h2>
      <p><%= post.text %></p>
      <li>
        Comments: <%= post.comment_counter %>,
        Likes: <%= post.likes_counter %>
      </li>
    </div>
    <div class="comments">
      <h3>Username: <%= @user.name %></h3>
      <h3>Likes:  <%= post.comment_counter %></h3>
    </div>
    <% end %>
    <div class="posts-pages">
      <button type="button" class="pagination-btn">Pagination</button>
    </div>
  </div>
</section>
